<p>todo-create works!</p>
<h2>Create New Todo</h2>
<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" formControlName="title" required>
        <div
            *ngIf="todoForm.controls['title'].invalid && (todoForm.controls['title'].dirty || todoForm.controls['title'].touched)">
            <div *ngIf="todoForm.controls['title'].errors?.['required']">
                Title is required.
            </div>
        </div>
    </div>
    <div>
        <label for="completed">Completed:</label>
        <input type="checkbox" id="completed" formControlName="completed">
    </div>
    <button type="submit" [disabled]="todoForm.invalid">Create</button>
    <button type="button" (click)="goBack()">Cancel</button>
</form>